@import './variable.scss';
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: $primary;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Unica One', cursive;
}

h2 {
  font-family: 'Unica One', cursive;
}

.font-roboto{
  font-family: "Roboto", sans-serif;
}

.btn.btn-white{
  padding: 25px 80px;
  font-size: 20px;
}

.navbar-toggler {
  background: #ECDEC1;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  line-height: inherit;
}

.navbar-toggler:focus {
  box-shadow:none;
}

.offcanvas{
    width: 100% !important;
    background: #ECDEC1;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  a {
    font-size: 30px;
    font-weight: 500;
  }
}

.common-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.common-btn {
  min-width: 200px;
  text-align: center;
  padding: 18px 25px;
  border-radius: 0px;
  font-size: 18px;
  font-weight: 400;
}

.section-heading {
  color: $black;
  font-family: 'Unica One', cursive;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.common-para {
  color: $gray;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}

.navbar-brand {
  padding: 0px;
}

.zindex_div {
  position: relative;
  z-index: 1;
}

.bg-color {
  background-color: $graybgcolor;
}

.common_sec_heading {
  color: $black;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
  span {
    font-weight: 600;
  }
}


.about_sec_div {
  position: relative;
  .about_shape_img {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}


.testimonial_slider_div .slick-next {
  bottom: -50px !important;
  left: 260px !important;
  top: inherit;
}
.testimonial_slider_div .slick-prev {
  bottom: -50px !important;
  left: 220px !important;
  top: inherit;
}
.testimonial_slider_div .slick-next::before, .testimonial_slider_div .slick-prev::before {
  color: $black !important;
}
.testimonial_slider_div .slick-slider {
  position: relative;
}
.testimonial_slider_div .slick-slider::before {
  content: '';
  position: absolute;
  bottom: -31px;
  height: 1px;
  width: 200px;
  background-color: #6D6D6D3D;
}

// Media Query

@media (max-width: 767px) {
  .common-padding {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .common-btn {
      min-width: 180px !important;
      padding: 15px 20px !important;
      font-size: 18px !important;
  }
  .common_sec_heading {
    font-size: 44px;
    margin-bottom: 25px;
  }
  .common-para {
    font-size: 16px;
  }
  .section-heading {
      font-size: 44px;
      margin-bottom: 25px;
  }
  .about_sec_div .about_shape_img {
      max-width: 150px;
      z-index: -1;
  }
  .rowgap_30 {
    row-gap: 30px;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .left-mob-space-div {
    padding: 35px 15px 35px 30px !important;
  }
  .right-mob-space-div {
    padding: 35px 30px 35px 15px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px)  {
  .common-padding {
      padding-top: 60px;
      padding-bottom: 60px;
  }  
  .common-btn {
      min-width: 180px !important;
      padding: 20px 20px !important;
      font-size: 18px !important;
  }
  .common_sec_heading {
    font-size: 44px;
  }
  .common-para {
    font-size: 17px;
  }
  .section-heading {
      font-size: 44px;
  }
  .about_sec_div .about_shape_img {
      max-width: 200px;
      z-index: -1;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px)  {
  .common-padding {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .common-btn {
      min-width: 200px !important;
      padding: 22px 20px !important;
      font-size: 18px !important;
  }
  .common_sec_heading {
    font-size: 50px;
  }
  .common-para {
    font-size: 17px;
  }
  .section-heading {
      font-size: 50px;
  }
  .about_sec_div .about_shape_img {
      max-width: 210px;
      z-index: -1;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px)  {
  .common-padding {
      padding-top: 80px;
      padding-bottom: 80px;
  }
  .common-btn {
      min-width: 220px !important;
      padding: 24px 20px !important;
  }
  .common_sec_heading {
    font-size: 58px;
  }
  .common-para {
    font-size: 18px;
  }
  .section-heading {
    font-size: 58px;
  }
  .about_sec_div .about_shape_img {
      max-width: 230px;
      z-index: -1;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1660px)  {
  .common-padding {
      padding-top: 80px;
      padding-bottom: 80px;
  }
  .common_sec_heading {
    font-size: 62px;
  }
  .common-para {
    font-size: 18px;
  }
  .section-heading {
    font-size: 62px;
  }
  .about_sec_div .about_shape_img {
      max-width: 260px;
      z-index: -1;
  }
}

.fixedTop{
  background: #fefefe;
}