.carousel {
    .carouselCaption{
        top: 40%;
        h1{
            font-size: 90px;
            text-transform: uppercase;
        }
        p{
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
}

.productCard{
    border: 0;
    img{
        width: 100%;
    }
    .productCard_Title{
        font-size: 30px;
    }
}