/* make the customizations */

// Color system
$white: #fff !default;
$gray: #6D6D6D;
$black: #171B1A !default;
$pink: #C0335D !default;

$primary: $black !default;
$secondary: $pink !default;
$gray: $gray !default;
$link-color: red;
